<div class="app-search__container d-flex flex-column">
  <div class="search-container" id="map-search">
    <mat-radio-group class="search-radio" aria-label="Select a field to search on" [(ngModel)]="radioSel">
      @for (sel of radioOptions; track sel) {
        <mat-radio-button class="search-radio-btn" [value]="sel"
        >{{sel}}</mat-radio-button>
      }
    </mat-radio-group>
    <div class="search-box">
      @if (radioSel === 'Mine Name') {
        <div>
          <input type="text" class="form-control gtm-filter-applicant " id="searchInput"
            placeholder="Start Typing a Mine Name"
            [(ngModel)]="_mineFilter"
            [ngbTypeahead]="mineSearch"
            [focusFirst]="false"
            (keyup.enter)="applyFilters()">
        </div>
      }
      @if (radioSel === 'Permit Number') {
        <div>
          <input type="text" class="form-control gtm-filter-applicant " id="searchInput"
            placeholder="Start Typing a Permit Number"
            [(ngModel)]="_permitFilter"
            [ngbTypeahead]="permitSearch"
            [focusFirst]="false"
            (keyup.enter)="applyFilters()">
        </div>
      }
      @if (radioSel === 'Address Lookup') {
        <div>
          <input type="text" class="form-control gtm-filter-applicant " id="searchInput"
            placeholder="Start Typing an address in B.C."
            [(ngModel)]="_geoFilter"
            (keyup.enter)="geocode()">
        </div>
      }
      @if (radioSel !== 'Address Lookup') {
        <div>
          <button type="button" class="btn btn-primary" title="Search" id="searchButton"
            (click)="applyFilters();"
            [disabled]="loading">
            <i class="material-icons">search</i>Search
          </button>
        </div>
      } @else {
        <button type="button" class="btn btn-primary" title="Search" id="searchButton"
          (click)="geocode();"
          [disabled]="loading">
          <i class="material-icons">search</i>Search
        </button>
      }
    </div>
    <div class="toggle-container">
      <button class="toggle-btn" (click)="toggleAdvancedFilters()">
        <span>{{ showAdvancedFilters ? 'Hide' : 'Show' }} Advanced Filters</span>
        <i class="material-icons">{{ showAdvancedFilters ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</i>
      </button>
    </div>
    @if (showAdvancedFilters) {
      <div class="filters-container">
        <div class="filter-container">
          <label for="type">
            Mine Type
          </label>
          <div class="filter-select">
            <select class="form-control" [(ngModel)]="_typeFilter" id="type">
              @for (option of minetypeOptions; track option) {
                <option [value]="option.value">{{option.name}}</option>
              }
            </select>
          </div>
        </div>
        <div class="filter-container">
          <label for="tailing">
            Tailing Impoundments
          </label>
          <div class="filter-select">
            <select class="form-control" [(ngModel)]="_tailingImpound" id="tailing">
              @for (option of tailingOptions; track option) {
                <option [value]="option.value">{{option.name}}</option>
              }
            </select>
          </div>
        </div>
      </div>
    }
    <div>
      @if (ranSearch && !loading && resultsCount === 0) {
        <p class="search-result">
          No results found.
        </p>
      }
    </div>
  </div>
</div>
